.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .modal button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  .modal buttonCancel {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f62121;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: #3e8e41;
  }

  